@import "./variables.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: cursive;
}

.app {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background-color: $backgroung-color;
}