@import "./variables.scss";

.canvas {
    padding-top: 80px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid black;
    background-color: white;
}