@import "./variables.scss";

.toolbar {
    height: $toolbar-height;
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    z-index: 999;

    &__btn {
        height: 25px;
        width: 25px;
        border: none;
        cursor: pointer;
        background-size: cover;
        margin-left: 10px;
        border-radius: 4px;
        padding: 4;
    }

    &__btn-antd {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn.active {
        box-shadow: -2px 4px 5px gray;
    }

    .brush {
        background: url('../assets/img/brush.png') no-repeat center center;
        background-size: 25px 25px;
    }
    .rect {
        background: url('../assets/img/rect.png') no-repeat center center;
        background-size: 25px 25px;
    }
    .circle {
        background: url('../assets/img/circle.png') no-repeat center center;
        background-size: 25px 25px;
    }
    .eraser {
        background: url('../assets/img/eraser.png') no-repeat center center;
        background-size: 25px 25px;
    }
    .line {
        background: url('../assets/img/line.png') no-repeat center center;
        background-size: 25px 25px;
    }
    .undo {
        margin-left: auto;
    }
    .redo {
        margin-left: 5px;
    }
    .save {
        margin-right: 10px;
        margin-left: 20px;
    }
}

.setting-bar {
    height: $toolbar-height;
    background-color: white;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    top: $toolbar-height;
}